.dashnav {
    //dashboard Navgation
    background: $color-white;
    width: calc(100vw - #{$dash-menu});
    height: 50px;
    left: $dash-menu;
    box-shadow: 0 0 40px 0 rgba($color-white-light, $alpha: .2);
    position: fixed;
    padding: 10px 20px;

    &__title {
        font-size: 20px;
        text-align: right;
        color: $color-gray-pruple;
    }


}