.dashmenu {
    position: fixed;
    width: $dash-menu;
    height: 100vh;
    background-color: $color-purple-dark-1;
    color: $color-purple-light;

    &__title {
        margin: 0 auto;
        height: 50px;
        border-bottom: 1px solid $color-purple-light;

        &-text {
            font-size: 25px;
            letter-spacing: 1px;
            text-align: center;
            padding-top: 7px;
            color: $color-white;
            cursor: pointer;
            transition: all .2s;
            &:hover{
                color: $color-purple-light;
            }
        }
    }

    &__list {
        padding: 9px 45px;
        font-size: 18px;
        cursor: pointer;
        transition: all .3s;
text-decoration: none;
color: $color-purple-light;

        &:first-child {
            margin-top: 20px;
        }

        &:hover {
            color: $color-white;
            background-color: $color-purple-dark-2;
        }

        &-icon {
            padding-right: 5px;
        }
    }

    &__back {
        position: absolute;
        width: $dash-menu;
        top: calc(100vh - 45px);
        cursor: pointer;
        transition: all .3s;
        color: $color-purple-light;
        &-text {
            padding-left: 5px;
            display: inline;
            letter-spacing: 0.5px;
        }

        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }
}