.footer {
    margin-top: 40px;


}
.book{
    background-color: $color-primary;

}
.subscribe{
    margin: 0 auto;
    width: 960px;
    &__logo{
        &-img{
            width: 40px;
        }
        &-text{

        }
    }
    &__email{

    }
}