.navigation {
    height: 100px;
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: space-between;

    @include respond(phone) {
        //手機版顯示時 把導覽列隱藏
        display: none;
    }

    &__logo {


        &-img {
            width: 250px;

        }
    }

    &__item {
        list-style: none;



        &-menu {
            list-style: none;
            display: inline-block;
            padding: 10px 20px;


            a {
                font-size: 20px;
                text-decoration: none;
                color: $color-primary;
                transition: border-bottom .2s;
                padding-bottom: 10px;

                &:hover {
                    border-bottom: 2px solid $color-primary;
                }
            }
        }
    }
}

.mobile-nav {
    display: none;
}

@include respond(phone) {

    .mobile-nav {
        padding: 18px 30px;
        display: flex;
        justify-content: space-between;
        height: 65px;
        align-items: center;

        &__hamberger {}

        &__logo {
            &-img {
                width: 150px;

            }
        }
    }
}