.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.modal__left {

    &-img {
        max-width: 300px;
        height: auto;
    }
}

.modal__right {
    width: 400px;


    &-productinfo {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &-title {
        font-weight: bold;
        font-size: 25px;
    }

    &-origin {
       
    }

    &-price {
        
    }

    &-num {
        width: 200px;
    }

    &-pay {
        font-size: 24px;
    }

    &-cart {
        // background-color: 
        @include addtocart;
        width: 122px;
        
    }

    &-descript {
       

    }
}