.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include respond(phone){
    flex-direction: column;
    }

}

.modal__left {

    &-img {
        max-width: 300px;
        height: auto;
        @include respond(phone){
            margin: 0 auto;
            max-width: 100%;
        }
    }
}

.modal__right {
    width: 400px;
    @include respond(phone){
    width: 100%;
    }

    &-productinfo {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &-title {
        font-weight: bold;
        font-size: 25px;
    }

    &-origin {

            color: $color-primary-red;       
            text-decoration: line-through;


    }

    &-price {
        
    }

    &-num {
        width: 200px;
    }

    &-pay {
        font-size: 24px;
    }

    &-cart {
        // background-color: 
        @include addtocart;
        width: 122px;
        
    }

    &-descript {
       

    }
}