.section-products {
    width: 960px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;

    @include respond(phone) {
        width: 100%;
        flex-wrap: wrap;

    }
}

.product {
    // background-color: aqua;
    color: $color-primary;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10px;

    @include respond(phone) {
        margin: 10px auto;
    }

    &__box {
        height: 300px;
        overflow: hidden;
        position: relative;

        &-img {

            max-width: 300px;
            min-width: 300px;
            height: inherit;
            transition: all .3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-text {
            font-size: 18px;
            background-color: $color-primary;
            position: absolute;
            color: $color-white;
            letter-spacing: 3px;
            padding: 8px;
            top: 0;
            left: 0;
            margin-left: 15px;
            writing-mode: vertical-lr;
        }
    }

    &__info {
        padding: 10px;
        font-size: 23px;
        display: flex;
        width: 300px;
        justify-content: space-around;

        &-title {}

        &-price {
            font-weight: bold;
        }
    }

    &__cart {
        background-color: $color-green-light-1;
        color: $color-primary;
        font-size: 20px;
        list-style: none;
        text-align: center;
        transition: all .3s;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 90px;
        width: 300px;

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            text-decoration: none;

        }
    }
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(phone){
        justify-content: flex-start;
    }
}