.checkout {
    //transport payinfo checkout
    display: flex;
    margin: 60px auto;
    width: 940px;
    justify-content: center;

    &__steps {
        width: 460px;
        margin: 0 10px;
        background-color: $color-primary;
        color: $color-green-light-1;
        padding: 10px 40px;
        display: flex;
        flex-direction: column;

    }

    &__title {
        font-size: 36px;
        display: flex;
        justify-content: space-between;

    }

}

.status {
    width: 130px;
    display: flex;
    justify-content: space-between;
    position: relative;
align-items: center;
    &__item {

        width: 21px;
        height: 21px;
        border: 1px solid $color-green-light-1;
        border-radius: 50%;
       
        
       
    }

    &::before {
        content: "";
        width: 90px;
        height: 1px;
        background-color: $color-green-light-1;
        position: absolute;
        top: 50%;
        left: 20px;
        z-index: 0;
    }

}