.mobile-translate-y-medium {
    @include respond(phone) {
        transform: translateY(-52px);

    }
}
.border-two{
    border-radius: 2px !important;
}

.bg-blue-light{
    background-color: $color-purple-blue;
}

.font-size-normal{
font-size: 18px;
}
.font-size-big{
    font-size: 22px;
}