.mobile-translate-y-medium {
    @include respond(phone) {
        transform: translateY(-52px);

    }
}
.border-two{
    border-radius: 2px !important;
}


//藍色
.bg-blue-light{
    background-color: $color-purple-blue;
}
//綠色
.bg-scss-main{
    background-color: $color-scss-main;
}


.font-size-normal{
font-size: 18px;
}
.font-size-big{
    font-size: 22px;
}
.font-size-biggest{
    font-size: 26px;
}