$color-primary:#3f5d45;

$color-green-light-1:#eaf0ed;
$color-green-light-2:#8da291;
$color-white:#fff;
$color-white-light:#Ececf3;

$color-yellow-light:#ffe180;
$color-yellow-lightest:#ffeaa7;



$color-orange:orange;
$color-orangered:orangered;


$color-scss-green:rgba(126, 213, 111, 0.8);
$color-scss-main:rgba(40, 180, 133, 0.8);
$color-green-light:#3eb894;
$color-dark-2:#888888;
$color-dark-1:#555555;
$color-black-light:#343a40;
$color-black:black;


$color-purple-dark-1:#242939;
$color-purple-dark-2:#1f2433;
$color-purple-light:#989eb3;
$color-gray-pruple:#6c7293;


$color-indigo:#98A9FE;
$color-purple-shallow:#F2F3F8;
//just blue and like purple
$color-purple-blue:#396BFF;

$color-blue-light:#3758FF;
$color-blue-dark:#2a4eff;
$color-blue-info:#58c0de;
$color-info-light:#17A2B8;
$color-info-dark:#138496;

$color-primary-red:#dc3545;
$color-red-light:rgba(220,53,69,0.2);
$dash-menu:275px;