.section-cart {
    @include settingcenter;
    margin: 20px auto 60px auto;
    display: flex;

    @include respond(phone) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.shopping {
    margin-right: 20px;
    flex: 2;
    font-size: 20px;
    color: $color-primary;
    text-align: center;

    @include respond(phone) {
        margin-right: 0px;
    }

    &__title {
        color: $color-primary;
        text-align: center;
        background-color: $color-green-light-1;
        margin-bottom: 20px;
        padding: 15px 0;
        font-size: 30px;
    }
}

.bill {
    flex: 1;
    background-color: $color-primary;
    color: $color-white;
    height: 290px;

    @include respond(phone) {
        background-color: $color-white;
        color: $color-primary;
    }

    &__title {
        text-align: center;
        font-size: 30px;
        padding: 15px 0;
        font-weight: normal;
        margin: 15px auto;
        width: 80%;
        border-bottom: 1px solid $color-green-light-1;

        @include respond(phone) {
            background-color: $color-green-light-1;
            padding: 5px 0;
        }
    }

    &__price,
    &__shipping {
        display: flex;
        justify-content: space-between;
        padding: 5px 15px;
        letter-spacing: 2px;
        font-size: 20px;

        @include respond(phone) {
            padding: 5px 30px;
            font-size: 18px;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        letter-spacing: 2px;
        font-size: 25px;
        font-weight: bold;

        @include respond(phone) {
            padding: 5px 30px;
            font-size: 20px;
        }
    }

    &__pay {
        text-align: center;
        background-color: $color-yellow-light;
        color: $color-primary;
        padding: 13px;
        font-size: 25px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            background-color: $color-yellow-lightest;
            //color: $color-white;
        }
    }
}

.cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 10px;
        position: relative;
    }

    &__img {
        width: 110px;
        height: 110px;

        @include respond(phone) {
            width: 150px;
            height: 150px;
            margin-bottom: 5px;
        }
    }

    &__name {
        color: $color-primary;
        width: 150px;

        @include respond(phone) {
            position: absolute;
            top: 10px;
            left: 180px;

            p {
                margin-bottom: 5px;
            }
        }
    }

    &__num {
        display: flex;
        align-items: center;

        @include respond(phone) {
            position: absolute;
            left: 180px;
            top: 90px;
        }

        &-icon,
        &-input {
            border: 1px solid $color-green-light-1;
            line-height: 50px;
            text-align: center;
            width: 50px;
            height: 50px;
        }

        &-icon {
            cursor: pointer;
            font-size: 12px;

            &:hover {
                font-size: 15px;
            }
        }

        &-input {
            margin: 0 10px;
        }
    }

    &__price {
        @include respond(phone) {
            width: 100%;
            display: block;
            border-bottom: 1px solid $color-green-light-1;
            border-top: 1px solid $color-green-light-1;
            text-align: right;
            padding: 10px;
        }
    }

    &__trash {
        transition: all .2s;
        color: $color-primary-red;
        padding: 5px 10px;
        border-radius: 2px;

        &:hover {

            cursor: pointer;
            transform: scale(1.1);
            background-color: $color-primary-red;
            color: $color-white;
        }

        @include respond(phone) {
            display: none;
        }
    }

}