.dashproduct{
    &__create{
        text-align: right;
        background-color: $color-info-light;
        color: $color-white;
        padding: 7px 10px;
        font-size: 20px;
        border-radius: 3px;
        transition: all 0s;

        &:hover{
            text-decoration: none;
            background-color:$color-info-dark;
            color: $color-white;
            border-color: $color-blue-dark;
        }
    }
    &__table{
        font-size: 18px;
        color: $color-black-light;
    }
    &__icon{
        cursor: pointer;
        transition: all .3s;
        &:hover{
            color: $color-green-light;
        }
    }
}