.home {
    width: 100%;
    height: 940px;

    &__img {
        //首頁大圖

        background-image: url('assets/image/slide.jpg');
        height: 496px;
        background-position: center;
        background-size: cover;
        @include settingcenter;

    }
}

.section-featured {
    max-width: 800px;
    margin: 0 auto;
    height: 265px;
    transform: translateY(-40%);
}

.topic {
    width: 33.3333333%;
    height: 260px;
    float: left;
    position: relative;
    overflow: hidden;

    &__img {
        height: inherit;
        background-position: center;
        background-size: cover;
        // filter: blur(3px);
        border-radius: 3px;
        overflow: hidden;

        &-1 {
            background-image: url('assets/image/topic_1.jpg');
        }

        &-2 {
            background-image: url('assets/image/topic_2.jpg');
        }

        &-3 {
            background-image: url('assets/image/topic_3.jpg');
        }
    }

    &__text {
        position: absolute;
        top: 0;
        background-color: $color-primary;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        color: #fff;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            writing-mode: vertical-rl;
            text-align: center;
            letter-spacing: 10px;
            cursor: pointer;
            border-radius: 3px;
            overflow: hidden;
            font-size: 2.5rem;
        }

        &:hover {
            background-color: $color-yellow-light;
            color: $color-primary;
        }
    }
}

.section-choose {
    width: 100%;
    padding: 40px 30px;
    background-color: $color-main-bg;
    height: 420px;
    margin-bottom: 80px;
}

.whychoose {
    @include settingcenter;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 460px;

    &__img {
        background-image: url('assets/image/reason1.jpg');
        height: 460px;
        width: 430px;
        background-position: center;
        background-size: cover;
        float: left;
    }

    &__reason {
        background-color: orange;
        height: 460px;
        width: 450px;
        // writing-mode: vertical-rl;
        margin: 0 40px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            line-height: 28px;
            color: $color-primary;
            writing-mode: vertical-rl;
            font-size: 20px;
            display: inline-block;
            margin: 0 15px;
            max-height: 300px;
            vertical-align: middle;

        }
    }

    &__whying {}

}