.home {

    &__img {
        //首頁大圖

        background-image: url('assets/image/slide.jpg');
        height: 496px;
        background-position: center;
        background-size: cover;
        @include settingcenter;

    }
}

.section-featured {
    max-width: 800px;
    margin: 0 auto;
    height: 265px;
    transform: translateY(-40%);
}

.topic {
    width: 33.3333333%;
    height: 260px;
    float: left;
    position: relative;
    overflow: hidden;

    &__img {
        height: inherit;
        background-position: center;
        background-size: cover;
        // filter: blur(3px);
        border-radius: 3px;
        overflow: hidden;

        &-1 {
            background-image: url('assets/image/topic_1.jpg');
        }

        &-2 {
            background-image: url('assets/image/topic_2.jpg');
        }

        &-3 {
            background-image: url('assets/image/topic_3.jpg');
        }
    }

    &__text {
        position: absolute;
        top: 0;
        background-color: $color-primary;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        color: #fff;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            writing-mode: vertical-rl;
            text-align: center;
            letter-spacing: 10px;
            cursor: pointer;
            border-radius: 3px;
            overflow: hidden;
            font-size: 2.5rem;
        }

        &:hover {
            background-color: $color-yellow-light;
            color: $color-primary;
        }
    }
}

.section-choose {
    width: 100%;
    padding: 40px 30px;
    background-color: $color-green-light-1;
    height: 420px;
    margin-bottom: 80px;

    @include respond (phone) {
        padding: 0;
        height: auto;
        margin-bottom: 0;
    }
}

.whychoose {
    @include settingcenter;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 460px;
    display: flex;

    @include respond (phone) {
        top: 0;
        transform: translateY(0);
        flex-direction: column;
        height: auto;

    }

    &__img {
        height: 460px;
        width: 430px;
        background-position: center;
        background-size: cover;
        float: left;

        &-1 {
            background-image: url('assets/image/reason1.jpg');


        }

        &-2 {
            background-image: url('assets/image/reason2.jpg');

        }

        @include respond (phone) {
            width: 100%;
            height: 250px;
        }
    }

    &__reason {
        height: 460px;
        width: 450px;
        // writing-mode: vertical-rl;
        margin: 0 40px;
        display: flex;
        align-items: center;
        position: relative;

        p {
            line-height: 28px;
            color: $color-green-light-2;
            writing-mode: vertical-rl;
            font-size: 20px;
            display: inline-block;
            margin: 0 15px;
            max-height: 300px;
            vertical-align: middle;

            @include respond(phone) {
                writing-mode: initial;
                margin: 10px 0;
            }
        }

        @include respond(phone) {
            width: 100%;
            margin: 0;
            padding: 10px 20px;
            flex-direction: column;
            height: auto;


        }
    }

    &__whyimg {
        position: absolute;
        top: 0;
        right: 0;
        width: 90px;
        height: 300px;

        @include respond(phone) {
            display: none;
        }
    }

}

.section-noreason {
    background-image: url('assets/image/lg-想吃甜點是不需要理由的.png');
    height: 360px;
    width: 960px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 120px auto;

    @include respond (phone) {
        background-image: url('assets/image/sm-想吃甜點是不需要理由的-1.png');
        width: 100%;
        height: 160px;
        margin: 10px 0;
    }
}
//首頁中間圖檔
.mobile__pic {
    display: none;

    @include respond(phone) {
        display: block;
        width: 100%;
        padding: 0 90px;
    }
}