.admin{
    //background-image: url('assets/image/backend.jpg');
    background-image: linear-gradient(to right bottom,$color-scss-green,$color-scss-main);
    height: 100vh;
    // background-size: cover;
    width: 100vw;
    // background-position: bottom;

}