.transport{
    max-width: 960px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    &__left{
        width: 460px;
        height: auto;
        color: $color-green-light-1;
        background-color: $color-primary; padding: 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
    &__title{
        &-font{
            font-size: 25px;
        }
    }
}